<nav>
  <div class="nav-wrapper green">
    <div class="container">
      <a href="#" class="brand-logo">HOTEL LA LUZ</a>

      <ul d="nav-mobile" class="right hide-on-med-and-down">
        <li class=""><a href="/infogen">Información general</a></li>
        <li class=""><a href="/tipohab">Tipos de habitacion</a></li>
        <li class=""><a href="/atraccion">Atracciones</a></li>
        <li class=""><a href="/habitacion">Habitaciones</a></li>
        <li class=""><a href="/forpago">Formas pago</a></li>
        <li class=""><a href="/usuario">Usuarios</a></li>

        <!-- Proceso -->
        <li class=""><a href="/ocupacion">Ocupacion</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--<app-tipohab></app-tipohab>
<app-infogen></app-infogen> -->

<router-outlet></router-outlet>