<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #usuarioForm="ngForm" (ngSubmit)="addUsuario(usuarioForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="usuarioService.selectedUsuario._id">
            <div class="row">
              <div class="input-field col-s12">
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuarioService.selectedUsuario.nombre" placeholder="Ingresa tu nombre completo">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="puesto" #puesto="ngModel" [(ngModel)]="usuarioService.selectedUsuario.puesto" placeholder="Ingresa tu puesto">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="usuario" #usuario="ngModel" [(ngModel)]="usuarioService.selectedUsuario.usuario" placeholder="Ingresa tu usuario">
              </div>
              <div class="input-field col-s12">
                <input type="password" name="contrasena" #contrasena="ngModel" [(ngModel)]="usuarioService.selectedUsuario.contrasena" placeholder="Ingresa tu contraseña">
              </div>
              
              
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right" style="margin-left: 2px;" (click)="resetForm(tipohabForm)">Limpiar</button>
                  <button class="btn right">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table class="striped highlight black-text">
        <thead>
          <th>Nombre</th>
          <th>Puesto</th>
          <th>Usuario</th>
          <th>Contraseña</th>
          <th>Operaciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarioService.usuario">
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.puesto }}</td>
            <td>{{ usuario.usuario }}</td>
            <td>{{ usuario.contrasena }}</td>
            <td>
              <a (click)="editUsuario(usuario)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteUsuario(usuario._id, usuarioForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>