<div class="container">
    <div class="row">
      <div class="col s5 m8">
        <div class="card">
          <div class="card-content">
            <form #ocupacionForm="ngForm" (ngSubmit)="addOcupacion(ocupacionForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="ocupacionService.selectedOcupacion._id">
              <div class="row">
                
                  <!-- Habitación y huespedes-->             
                  <div class="row">
                      <div class="section">
                        <h5>Habitación</h5>

                        <div class="input-field col s12">
                          <select name="habitacion" #habitacion="ngModel" [(ngModel)]="habitacionService.habitaciones">
                            <option *ngFor="let habitacion of habitaciones" [value]="habitacion.numeroh">{{ habitacion.numeroh }}</option>
                          </select>
                          <label>Selecciona la habitación</label>
                          
                      </div>

                        <!--<div class="input-field col s12 m8">
                            <input disabled value="Habitación elegida" id="disabled" type="text" class="validate">
                            <label for="disabled">Habitación</label>
                            <input value="Habitación elegida" type="text" class="validate" name="habitacion" #habitacion="ngModel" [(ngModel)]="ocupacionService.selectedOcupacion.habitacion">
                        </div> -->

                        <!--<div class="input-field col s12">
                            <select name="adultos" #adultos="ngModel" [(ngModel)]="ocupacionService.selectedOcupacion.adultos">
                              <option value="" disabled selected>Elige el número de adultos</option>
                              <option value="1">0</option>
                              <option value="2">1</option>
                              <option value="3">2</option>
                              <option value="1">3</option>
                              <option value="2">4</option>
                              <option value="3">5</option>
                            </select>
                            <select name="ninos" #ninos="ngModel" [(ngModel)]="ocupacionService.selectedOcupacion.ninos">
                                <option value="" disabled selected>Elige el número de niños</option>
                                <option value="1">0</option>
                                <option value="2">1</option>
                                <option value="3">2</option>
                                <option value="1">3</option>
                                <option value="2">4</option>
                                <option value="3">5</option>
                              </select>
                            <label>Huéspedes</label>
                        </div> -->
                      </div>
                  </div>
                  

                  <!--Elegir fecha-->
                  <div class="input-field col s12">
                      <div class="divider"></div>
                      <div class="section">
                        <h5>Seleccionar fecha</h5>
                        <input type="date" name="entrada" #entrada="ngModel" [(ngModel)]="ocupacionService.selectedOcupacion.entrada" placeholder="Fecha de entrada">
                        <input type="date" name="salida" #salida="ngModel" [(ngModel)]="ocupacionService.selectedOcupacion.salida" placeholder="Fecha de salida">
                      </div>
                  </div>

                  <!--Registro-->
                  
                      <div class="divider"></div>
                      <div class="section">
                        <h5>Registro</h5>
                        <label>Información personal</label>
                        
                        <div class="input-field col-s12">
                            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="ocupacionService.selectedOcupacion.nombre" placeholder="Ingresa nombre completo">
                        </div>
                        
                        <div class="input-field col-s12">
                              <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="ocupacionService.selectedOcupacion.telefono" placeholder="Ingresa teléfono">
                        </div>
                        <div class="input-field col-s12">
                              <input type="text" name="comentarios" #comentarios="ngModel" [(ngModel)]="ocupacionService.selectedOcupacion.comentarios" placeholder="Comentarios">
                        </div>
                      
                  
                  
                  <div class="input-field col s12">
                      <select name="forpago" #forpago="ngModel" [(ngModel)]="ocupacionService.forpago">
                        <!--<option value="" disabled selected>Elige un método de pago</option> -->
                        <option *ngFor="let pago of forpago" [value]="pago.forpago">{{ pago.forpago }}</option>
                      </select>
                      <label>Información de pago</label>
                  </div>
                </div><!--section-->



                <div class="card-action">
                  <div class="input-field col-s12">
                    <button class="btn right" style="margin-left: 2px;" (click)="resetForm(ocupacionForm)">Limpiar</button>
                    <button class="btn right">Ocupar habitacion</button>
                  </div>
                </div>

            </div>
          </form>
    </div>
  </div>
</div>

<!--Lista-->
<div class="col s7">
  <table class="striped highlight black-text">
    <thead>
      <th>Habitación</th>
      <th>Entrada</th>
      <th>Salida</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Comentarios</th>
      <th>Forma de pago</th>
      <th>Operaciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let ocupacion of ocupacionService.ocupacion">
        <td>{{ ocupacion.habitacion }}</td>
        <td>{{ ocupacion.entrada }}</td>
        <td>{{ ocupacion.salida }}</td>
        <td>{{ ocupacion.nombre }}</td>
        <td>{{ ocupacion.telefono }}</td>
        <td>{{ ocupacion.comentarios }}</td>
        <td>{{ ocupacion.forpago }}</td>
        <td>
          <a (click)="editOcupacion(ocupacion)">
            <i class="material-icons">edit</i>
          </a>
          <a (click)="deleteOcupacion(ocupacion._id, ocupacionForm)">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>

